<div class="header_wrapper">
        <div class="header_bottom">
            <div class="nav_wrapper">
                <div class="logo">
                    <a class="logo_icon" href="<%= root_path %>">
                        <img src="/uploads/logo.svg" alt="logo">
                    </a>
                </div>

                <div class="nav">
                  <div class="phones">
                    <a href="tel:37369150916" class="phones_link">+373 69 15 09 16</a>
                    <a href="tel:37368446991" class="phones_link">+373 68 44 69 91</a>
                    <a href="tel:37369188044" class="phones_link">+373 69 18 80 44</a>

                      <a class="" href="#"></a>
                  </div>

                    <div class="menu_wrapper">
                        <div class="menu_hamb">
                            <span class="menu_hamb-1"></span>
                            <span class="menu_hamb-2"></span>
                        </div>

                        <ul class="menu" id="menu">
                            <li>
                                <!-- <a class="menu_link" href="<%= contacts_path %>">Despre noi</a> -->
                            </li>

                            <li class="menu_hover">
                                <a class="menu_link" href="#">
                                    Produse

                                    <svg
                                        class="angle_submenu"
                                        width="10"
                                        height="6"
                                        viewbox="0 0 10 6"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M5.83709 4.6098L1.29221 0.159755C1.1871 0.0567475 1.04677 0 0.897152 0C0.74753 0 0.607207 0.0567475 0.50209 0.159755L0.167391 0.487394C-0.0503999 0.700889 -0.0503999 1.04788 0.167391 1.26105L3.98384 4.99793L0.163156 8.73895C0.0580388 8.84196 0 8.97928 0 9.1257C0 9.27228 0.0580388 9.4096 0.163156 9.51269L0.497855 9.84025C0.603055 9.94325 0.743295 10 0.892917 10C1.04254 10 1.18286 9.94325 1.28798 9.84025L5.83709 5.38614C5.94246 5.2828 6.00033 5.14484 6 4.99817C6.00033 4.85094 5.94246 4.71305 5.83709 4.6098Z"
                                            transform="translate(10) rotate(90)"
                                            fill="#000"
                                        ></path>
                                    </svg>
                                </a>

                                <ul class="sub_menu">
                                    <li class="sub_menu-item">
                                        <a class="sub_menu-link" href="<%= parking_path %>">Sistemul de parcare twin</a>
                                    </li>

                                    <li class="sub_menu-item">
                                        <a class="sub_menu-link" href="<%= puzzle_path %>">Sistemul de parcare puzzle</a>
                                    </li>

                                    <li class="sub_menu-item">
                                        <a class="sub_menu-link" href="#">Sistemul de parcare tower</a>
                                    </li>

                                    <li class="sub_menu-item">
                                        <a class="sub_menu-link" href="<%= parcare_path %>">Sistemul de parcare rotary</a>
                                    </li>

                                    <!-- <li class="sub_menu-item">
                                        <a class="sub_menu-link" href="#">PIT PUZZLE PARIKING SYSTEMS</a>
                                    </li> -->

                                    <!-- <li class="sub_menu-item">
                                        <a class="sub_menu-link" href="#">
                                            FULL AUTOMATED PARIKING SYSTEMS
                                        </a>
                                    </li> -->
                                </ul>
                            </li>

                            <li>
                              <a class="menu_link" href="#">Proiecte</a>
                            </li>

                            <li>
                              <a class="menu_link" href="<%= faq_path %>">FAQ</a>
                            </li>

                            <li>
                              <a class="menu_link" href="#">BLOG</a>
                            </li>

                            <li>
                                <a class="menu_link" href="<%= contacts_path %>">Contacteaza-ne</a>
                            </li>

                            <li>
                                <a class="menu_link" href="#">
                                    <svg class="search_icon" width="14" height="15" viewbox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.7871 13.6626L10.3359 9.94962C11.2233 8.85844 11.7095 7.48552 11.7095 6.05624C11.7095 2.71688 9.08299 0 5.85474 0C2.62649 0 6.9187e-09 2.71688 6.9187e-09 6.05624C6.9187e-09 9.3956 2.62649 12.1125 5.85474 12.1125C7.06667 12.1125 8.22158 11.7344 9.20899 11.0166L12.6864 14.7578C12.8318 14.9139 13.0273 15 13.2368 15C13.4351 15 13.6232 14.9218 13.766 14.7796C14.0694 14.4776 14.0791 13.9768 13.7871 13.6626ZM5.85474 1.57989C8.24092 1.57989 10.1821 3.58793 10.1821 6.05624C10.1821 8.52456 8.24092 10.5326 5.85474 10.5326C3.46855 10.5326 1.52732 8.52456 1.52732 6.05624C1.52732 3.58793 3.46855 1.57989 5.85474 1.57989Z" fill="#333333"></path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>