<%= render 'header' %>
<%= render 'menu' %>
<div class="sp_promo_wrapper">
    <div class="container">
        <!-- <div class="breadcrumbs"><a href="#" class="breadcrumbs_link">home /</a><a href="#" class="breadcrumbs_link">products /</a><a href="#" class="breadcrumbs_link">Stack Parking System</a></div> -->
        <div class="sp_promo">
            <h1 class="sp_promo_title"><%= Parking.last.title unless Parking.last.nil? %></h1>
            <p class="sp_promo_text"><%= Parking.last.desc unless Parking.last.nil? %></p>
            <a href="#" class="sp_promo_btn">GET A QUOTE</a>
        </div>
    </div>
</div>
<!-- <form id="form"> -->
<%= form_with model: GetQuote.new, id: 'form', url: create_get_quote_path, local: true do |form| %>
  <div class="form"><a href="#" class="form_close"><i aria-hidden="true" class="far fa-times-circle"></i></a>
      <h2>Send Enquiry</h2>
      <label>Name
        <%= form.text_field :name, placeholder: 'Your name' %>
        <!-- <input id="name" type="text" placeholder="Name" required="required"> -->
      </label>
      <label>Email
        <%= form.email_field :email, placeholder: 'Introduce  e-mail' %>
        <!-- <input id="email" type="email" placeholder="Email" required="required"> -->
      </label>
      <label>Phone
        <%= form.text_field :phone, placeholder: 'Your phone' %>
        <!-- <input id="tel" type="tel" placeholder="Phone" required="required"> -->
      </label>
      <label>Message
        <%= form.text_area :message, placeholder: 'Your name' %>
        <!-- <textarea name="#" cols="0" rows="5" placeholder="hi, i like your puzzleparking system, and wonna order it..." required="required"></textarea> -->
      </label>
      <div class="submit">
          <button type="submit">Submit</button>
      </div>
  </div>
<% end %>
<!-- </form> -->
<div class="sp_features_wrapper_faq">
    <div class="sp_features">
        <div class="container">
            <h2 class="sp_features_title">FAQ</h2>

            <div class="row">
                <div class="sp_features_item col-1 col-md-12 d-flex flex-column justify-content-between">
                  <% Faq.where(position: 'left').each do |puzzle_feature| %>
                    <div class="row p-b">
                        <span class="sp_features_icon faq col-3"></span>

                        <div class="col-9">
                            <h5 class="sp_features_name"><%= puzzle_feature.title %></h5>

                            <p class="sp_features_text">
                              <%= puzzle_feature.description %>
                            </p>
                        </div>
                    </div>
                  <% end %>
                </div>

                <div class="sp_features_item col-1 col-md-12 d-flex flex-column justify-content-between">
                  <% Faq.where(position: 'right').each do |puzzle_feature| %>
                    <div class="row p-b">
                        <span class="sp_features_icon faq col-3"></span>

                        <div class="col-9">
                            <h5 class="sp_features_name"><%= puzzle_feature.title %></h5>

                            <p class="sp_features_text">
                              <%= puzzle_feature.description %>
                            </p>
                        </div>
                    </div>
                  <% end %>
                </div>

                <!-- <div class="sp_features_item col-12 col-md-4 sp_bg"></div> -->
            </div>
        </div>
    </div>
</div>
<%= render 'footer' %>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>

<script type="text/javascript" src="/js/why.js"></script>

<script src="/vendor/slick-slider/slick/slick.min.js"></script>
<script src="/vendor/fancybox/jquery.fancybox.js"></script>
<script type="/text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
