<%= render 'header' %>
<%= render 'menu' %>
<div class="sp_promo_wrapper">
    <div class="container">
        <!-- <div class="breadcrumbs"><a href="#" class="breadcrumbs_link">home /</a><a href="#" class="breadcrumbs_link">products /</a><a href="#" class="breadcrumbs_link">Stack Parking System</a></div> -->
        <div class="sp_promo">
            <h1 class="sp_promo_title"><%= Parking.last.title unless Parking.last.nil? %></h1>
            <p class="sp_promo_text"><%= Parking.last.desc unless Parking.last.nil? %></p>
            <a href="#" class="sp_promo_btn">GET A QUOTE</a>
        </div>
    </div>
</div>
<!-- <form id="form"> -->
<%= form_with model: GetQuote.new, id: 'form', url: create_get_quote_path, local: true do |form| %>
  <div class="form"><a href="#" class="form_close"><i aria-hidden="true" class="far fa-times-circle"></i></a>
      <h2>Send Enquiry</h2>
      <label>Name
        <%= form.text_field :name, placeholder: 'Your name' %>
        <!-- <input id="name" type="text" placeholder="Name" required="required"> -->
      </label>
      <label>Email
        <%= form.email_field :email, placeholder: 'Introduce  e-mail' %>
        <!-- <input id="email" type="email" placeholder="Email" required="required"> -->
      </label>
      <label>Phone
        <%= form.text_field :phone, placeholder: 'Your phone' %>
        <!-- <input id="tel" type="tel" placeholder="Phone" required="required"> -->
      </label>
      <label>Message
        <%= form.text_area :message, placeholder: 'Your name' %>
        <!-- <textarea name="#" cols="0" rows="5" placeholder="hi, i like your puzzleparking system, and wonna order it..." required="required"></textarea> -->
      </label>
      <div class="submit">
          <button type="submit">Submit</button>
      </div>
  </div>
<% end %>
<!-- </form> -->
<div class="sp_features_wrapper_faq">
    <div class="sp_features">
        <div class="container">
            <!-- <h2 class="sp_features_title">Special Features</h2> -->
            <div class="row">
              <div class="sp_features_item">
                <h1>FAQ</h1>
                <div class="demo">
                  <% Faq.all.each do |faq| %>
                    <input class="hide" id="hd-1" type="checkbox">
                    <label for="hd-1"><%= faq.title %></label>
                    <div>
                      <%= faq.description %>
                    </div>
                    <br />
                  <% end %>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<%= render 'footer' %>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>

<script type="text/javascript" src="/js/why.js"></script>

<script src="/vendor/slick-slider/slick/slick.min.js"></script>
<script src="/vendor/fancybox/jquery.fancybox.js"></script>
<script type="/text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<style type="text/css">
  @charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);
*, ::after, ::before {
    box-sizing: border-box;
}
html, body {
  height: 100%;
  margin:0;
  padding:0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
/* demo контейнер */
.demo {
    max-width: 1024px;
    padding: 0 20px;
    margin: 5% -5%;
}
/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
    display: none;
}
/* вид текста label */
.hide + label {
    margin: 0;
    padding: 0;
    color: #33322c;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    display: inline-block;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    margin-left: 20px;
    padding: 10px;
    /* чуточку анимации при появлении */
     -webkit-animation:fade ease-in 0.5s; 
     -moz-animation:fade ease-in 0.5s;
     animation:fade ease-in 0.5s; 
}
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }   
}
.hide + label:before {
    background-color: #fac23f;
    color: #fff;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px; 
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.hide:checked + label:before {
    content: "\2212";
}
</style>