<%= render 'header' %>
<%= render 'menu' %>
</div>

<div class="promo_wrapper overlay">
    <div class="container">
        <div class="promo">
            <h1 class="promo_title">
                Solutii inteligente
                <span>pentru parcare</span>
            </h1>

            <a class="promo_btn" href="<%= parking_path %>" style="text-decoration: none;">Mai mult</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="tabs_wrapper row">
        <ul class="tabs col-12 col-md-6">
            <li class="active" rel="tab1">
                <h4 class="features_text">
                    De ce sistemele noastre de parcare sunt cele mai bune ?
                </h4>
            </li>

            <li rel="tab2">
                <h4 class="features_text">
                    Vezi ce putem oferi
                </h4>
            </li>
        </ul>

        <div class="tab_container col-12 col-md-6">
          <h3 class="d_active tab_drawer_heading" rel="tab1"></h3>
            <div class="tab_content" id="tab1">
              <% DescriptionSystem.all.each do |desc_sys| %>
                <div class="d-flex inner_text_wrapper">
                    <span class="features_icon col-3 <%= desc_sys.icon %>"></span>

                    <div class="features_inner col-8">
                        <h5 class="features_title"><%= desc_sys.title %></h5>

                        <p class="features_inner-text">
                          <%= desc_sys.desc %>
                        </p>
                    </div>
                </div>
              <% end %>
            </div>

            <h3 class="tab_drawer_heading" rel="tab2"></h3>

            <div class="tab_content" id="tab2">
              <% ProductDescription.all.each do |product| %>
                <div class="inner_text_wrapper">
                    <h5 class="features_title"><%= product.title %></h5>

                    <p class="hidden_inner-text">
                      <%= product.desc %>
                    </p>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</div>

 <div class="products_wrapper overlay">
    <div class="container">
        <h3 class="products_title">PRODUSE</h3>

        <div class="products row flex-column flex-md-row justify-content-between">
          <% Produse.all.each do |produse| %>  
            <div class="products_item col-12 col-md-3 align-self-end">
                <h3> <a class="products_item-title" href="#" style="text-decoration: none;"><%= produse.title %></a></h3>

                <a class="products_item-text" href="#">
                  <%= produse.desc %>
                </a>

                <a class="products_img" href="<%= produse.link %>">
                    <img src="<%= image_url(produse.image.url) %>" alt="products photo parking">
                </a>
            </div>
          <% end %>
        </div>
    </div>
</div>

<div class="container">
    <div class="project">
        <span class=""></span>
        <h3 class="main_title">PROIECTE</h3>
        <div class="shown_info">
            <div class="row">
                <div class="slider_nav col-12 col-md-6">
                  <% Proiecte.all.each do |proiecte| %>
                    <div class="thumb">
                        <a class="more project_title" href="<%= proiecte.link %>" id="<%= proiecte.id %>"><%= proiecte.title %></a>

                        <a class="more project_type" href="<%= proiecte.link %>" id="<%= proiecte.id %>"><%= proiecte.desc %></a>
                    </div>
                  <% end %>
                </div>

                <div class="slider_main col-12 col-md-6">
                  <% Proiecte.all.each do |proiecte| %>
                    <div class="slider_item">
                        <img src="<%= image_url(proiecte.image.url) %>" alt="parking">
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
        <div class="hidden_info" id="for_info1">
            <div class="d-flex">
                <div class="info col-12 col-md-6">

                    <a class="project_title" href="#">Wroclaw Megaparking</a>

                    <a class="project_type" href="#">Puzzle Parking System</a>

                    <ul class="project_info">
                        <li>
                            Built: 200 parking spaces Automated Vehicle Storage and Retrieval System (AVSRS)
                        </li>

                        <li>
                            Location: 8300 Santa Monica Boulevard, Bucuresti
                        </li>

                        <li>Development: Parking garage</li>

                        <li>
                            Parking footprint: 150&apos; x 80&apos; (46m x 25m)
                        </li>

                        <li>Height: 48&apos; (15m)</li>

                        <li>
                            The WeHo Municipal Automated Parking Garage in West Hollywood, CA, serves City Hall and the renovated Community Plaza.
                        </li>
                    </ul>
                </div>

                <div class="info col-12 col-md-6">
                    <div class="info_slider">
                        <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>
                         <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="is_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>
                    </div>

                    <div class="info_slider-nav">
                        <div class="isn_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="isn_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="isn_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="isn_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="isn_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>

                        <div class="isn_item">
                            <img src="http://placekitten.com/g/450/350" alt="parking view">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'footer' %>

<div class="feedback_popup" id="modal">
    <div class="feedback_popup_wrap"></div>

    <div class="feedback_popup_inner">
        <img src="images/modalimg.jpg" alt="">

        <div class="feedback_popup_head">
            <h3 class="feedback_popup_title">
                Doriți să aflați mai multe despre
            </h3>

            <p class="feedback_text">Sisteme de parcare Top Parking?</p>

            <a class="feedback_popup_close" href="javascript://">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </a>
        </div>

        <!-- <form action="#" method="post"> -->
        <%= form_with model: Application.new, url: create_app_path, local: true do |form| %>
          <div class="feedback_form">
            <!-- <input type="email" placeholder="Introduce  e-mail"></input> -->
            <%= form.email_field :email, placeholder: 'Introduce  e-mail sau telefon' %>
            
            <button type="submit">Trimite</button>

            <a class="feedback_close">Nu azi</a>
          </div>
        <% end %>   
        <!-- </form> -->
    </div>
</div>

<script type="text/javascript" src="js/jquery-3.3.1.js"></script>

<script type="text/javascript" src="js/why.js"></script>

<script src="vendor/slick-slider/slick/slick.min.js"></script>
<script src="vendor/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/main.js"></script>